/* デフォルトのライトモードスタイル */
:root {
  --background-color: white;
  --foreground-color: black;
}

/* ダークモードスタイル */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --foreground-color: white;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

button {
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-radius: auto;
  border:1px solid var(--foreground-color);
}